/* app/assets/stylesheets/custom.css */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f9;
}

h1 {
  color: #333;
  text-align: center;
}

h2 {
  color: #0905fd;
}

h3 {
  color: #0905fd;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 10px;

}

p.error {
  color: red;
}

p {
  color: #333;
}

.lookup-form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-group-inline {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label-inline {
  margin-right: 10px;
}

.form-input-inline {
  width: 200px; /* Reduced width */
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added shadow box style */
}

.button-group {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 16px; /* Reduced padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.btn-lookup-inline {
  padding: 8px 16px; /* Reduced padding */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.btn-lookup-inline:hover {
  background-color: #0056b3;
}

.btn-clear {
  background-color: #dc3545;
  color: #fff;
}

.btn-clear:hover {
  background-color: #c82333;
}